$body-bg-color: #f0f3f3;
$link-hover-color: #008c99;
$text-grey-color: #5c5c5c;
$font-body: "Lato", sans-serif;
$color-border: #e9e9e9;
$text-menu-color: #434343;
$blue-bg: #73d5f0;

$primary-color: #008c99;